.footer {
  background: linear-gradient(180deg, #000000 0%, #36017a 100%);
  color: #ffffff;
  padding: 20px 20px; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px;
  max-width: 1350px;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.col1,
.col2 {
  flex: 1;
  min-width: 250px;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 170px;
  position: relative;
  display: inline-block;
}

.logo-heading .copyright {
  font-size: 12px;
  vertical-align: top; 
  margin-left: 4px; 
  position: absolute;
  top: 5px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 150px;
}

.footer-link-left {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 40px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.footer-link-right {
  font-family: "Clash Grotesk", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.footer-link {
  font-family: "Clash Grotesk", sans-serif;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

/* Hover effect for all links */
.footer-link:hover,
.footer-link-left:hover,
.footer-link-right:hover {
  color: #a074f9;
}

/* Active link style */
.footer-link.active,
.footer-link-left.active,
.footer-link-right.active {
  color: #ffe9b1;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-text {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 150px;
}

.footer-social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.footer-copyright {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0; 
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center; 
  }

  .col1,
  .col2 {
    min-width: 100%;
  }

  .logo-heading {
    order: 1;
    margin-bottom: 20px; 
  }

  .footer-text {
    order: 2; 
    margin-bottom: 20px;
    text-align: center; 
  }

  .footer-links {
    order: 3; 
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 20px; 
  }

  .footer-social-links {
    order: 4; 
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; 
  }

  .footer-copyright {
    order: 5; 
    text-align: center; 
  }
}
