/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  transition: background 0.3s ease-in-out;
}

/* Container with equal padding */
.header-container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* Added left and right padding */
}

/* Header text */
.header-text {
  font-size: 25px;
  font-weight: 500;
  /* font-family: "Playfair Display", serif;  */
  font-family: "Clash Grotesk", sans-serif;
  margin: 0;
}

/* Navigation styles */
.header-link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem; /* Added padding to links */
}

.header-link:hover {
  color: #a074f9;
}

.header-link.active {
  color: #ffe9b1;
}

/* Responsive navigation */
@media (min-width: 768px) {
  .nav {
    display: flex !important;
  }
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
  }
}

/* Hamburger button */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger svg {
  width: 24px;
  height: 24px;
}
